{% extends 'mission/base.html' %}
{% block content %}
    <div class="content">
        <h1>{{ object_list.0.race }}</h1>
    </div>

    {% for character in object_list %}

        <article class="media content-section">
            <div class="media-body">
                <h2><a href="{% url 'character-detail' character.id %}">{{ character.name }}</a> - <a href="{% url 'player-detail' character.player.id %}">/u/{{ character.player.reddit }}</a></h2>
                <p class="article-content">
                <div class="table-responsive">
                    <table class="table-sm table-hover">
                        <thead>
                        <tr class="bg-starcatyellow">
                            <th scope="col">Barbarian</th>
                            <th scope="col">Bard</th>
                            <th scope="col">Cleric</th>
                            <th scope="col">Druid</th>
                            <th scope="col">Fighter</th>
                            <th scope="col">Monk</th>
                            <th scope="col">Paladin</th>
                            <th scope="col">Ranger</th>
                            <th scope="col">Rogue</th>
                            <th scope="col">Sorcerer</th>
                            <th scope="col">Warlock</th>
                            <th scope="col">Wizard</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ character.barbarian }}</td>
                            <td>{{ character.bard }}</td>
                            <td>{{ character.cleric }}</td>
                            <td>{{ character.druid }}</td>
                            <td>{{ character.fighter }}</td>
                            <td>{{ character.monk }}</td>
                            <td>{{ character.paladin }}</td>
                            <td>{{ character.ranger }}</td>
                            <td>{{ character.rogue }}</td>
                            <td>{{ character.sorcerer }}</td>
                            <td>{{ character.warlock }}</td>
                            <td>{{ character.wizard }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </p>
            </div>
        </article>
    {% endfor %}
        {% if is_paginated %}

        {%  if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}

            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}

        {% endfor %}

        {%  if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content %}