{% extends 'mission/base.html' %}
{% block content %}
    <article class="content-section">
        <div class="page-details">
            <h1><a href="{% url 'mission-detail' object_list.0.mission.id %}">{{ object_list.0.mission.title }}</a> - Details</h1>
            <h2>Zone: <a href="{% url 'zone-detail' object_list.0.mission.zone.id %}">{{ object_list.0.mission.zone.name }}</a> | DM: <a href="{% url 'dm-detail' object_list.0.mission.dm.id %}">{{ object_list.0.mission.dm.reddit }}</a></h2>
        </div>

        <div class="table-responsive">
            <table class="table-sm table-hover">
                <thead>
                <tr class="bg-starcatyellow">
                    <th scope="col">Character</th>
                    <th scope="col">Player</th>
                    <th scope="col">Perished</th>
                    <th>Race</th>
                    {% if levels.barbarian > 0 %}
                        <th scope="col">Barbarian</th>
                    {% endif %}
                    {% if levels.bard > 0 %}
                        <th scope="col">Bard</th>
                    {% endif %}
                    {% if levels.cleric > 0 %}
                        <th scope="col">Cleric</th>
                    {% endif %}
                    {% if levels.druid > 0 %}
                        <th scope="col">Druid</th>
                    {% endif %}
                    {% if levels.fighter > 0 %}
                        <th scope="col">Fighter</th>
                    {% endif %}
                    {% if levels.monk > 0 %}
                        <th scope="col">Monk</th>
                    {% endif %}
                    {% if levels.paladin > 0 %}
                        <th scope="col">Paladin</th>
                    {% endif %}
                    {% if levels.ranger > 0 %}
                        <th scope="col">Ranger</th>
                    {% endif %}
                    {% if levels.rogue > 0 %}
                        <th scope="col">Rogue</th>
                    {% endif %}
                    {% if levels.sorcerer > 0 %}
                        <th scope="col">Sorcerer</th>
                    {% endif %}
                    {% if levels.warlock > 0 %}
                        <th scope="col">Warlock</th>
                    {% endif %}
                    {% if levels.wizard > 0 %}
                        <th scope="col">Wizard</th>
                    {% endif %}
                </tr>
                </thead>
                {% for history in history %}
                    <tbody>
                    <tr>
                        <td><a href="{% url 'character-detail' history.character.id %}">{{ history.character.name }}</a></td>
                        <td><a href="{% url 'player-detail' history.character.player.id %}">{{ history.character.player.reddit }}</a></td>
                        <td>
                            {% if history.death_bool %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td><a href="{% url 'race-list' history.character.race.id %}">{{ history.character.race }}</a> </td>
                    {% if levels.barbarian > 0 %}
                        <td>{{ history.character.barbarian }}</td>
                    {% endif %}
                    {% if levels.bard > 0 %}
                        <td>{{ history.character.bard }}</td>
                    {% endif %}
                    {% if levels.cleric > 0 %}
                        <td>{{ history.character.cleric }}</td>
                    {% endif %}
                    {% if levels.druid > 0 %}
                        <td>{{ history.character.druid }}</td>
                    {% endif %}
                    {% if levels.fighter > 0 %}
                        <td>{{ history.character.fighter }}</td>
                    {% endif %}
                    {% if levels.monk > 0 %}
                        <td>{{ history.character.monk }}</td>
                    {% endif %}
                    {% if levels.paladin > 0 %}
                        <td>{{ history.character.paladin }}</td>
                    {% endif %}
                    {% if levels.ranger > 0 %}
                        <td>{{ history.character.ranger }}</td>
                    {% endif %}
                    {% if levels.rogue > 0 %}
                        <td>{{ history.character.rogue }}</td>
                    {% endif %}
                    {% if levels.sorcerer > 0 %}
                        <td>{{ history.character.sorcerer }}</td>
                    {% endif %}
                    {% if levels.warlock > 0 %}
                        <td>{{ history.character.warlock }}</td>
                    {% endif %}
                    {% if levels.wizard > 0 %}
                        <td>{{ history.character.wizard }}</td>
                    {% endif %}
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>

    </article>
{% endblock content %}