body {
    background: #ffffff;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #3d4c51;
}

a {
    color: #4b77dd;
    text-decoration: none;
}

ul {
    margin: 0;
}

/* Table Stying Start */

table {
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr, th  {
    text-align: center;
}

th:first-child, td:first-child {
    padding-left: 15px;
}

th:last-child, td:last-child {
    padding-right: 15px;
}

.bg-starcatyellow {
    background-color: #fec647;
}

.site-header .navbar-nav .nav-link {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
    color: #765916;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

th {
    height: 50px;
}

/* Table Stying End */

.content-section {
    background: #fefdfa;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.account-heading {
    font-size: 2.5rem;
}

.page-details {
    border-bottom: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}